<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        .myrow{
            margin-bottom: 10px
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="bookForm" class="form-horizontal">
        <!-- 第一行 -->
        <div class="row myrow">
            <div class="col-xs-2">图书名称</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="bookName" name="bookName">
            </div>

            <div class="col-xs-2">图书价格</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="bookPrice" name="bookPrice">
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">

    $(function() {
        //日期
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            format: 'yyyy-mm-dd',
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    })
</script>
</html>