<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <!-- 引入jquery的js -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <    <!-- 引入bootstrap的js文件和css文件 -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入表格的组件 -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入弹框 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
    <!-- 条查 -->
    <div id="toolbar">
        <form class="form-inline">
            <div>
                <button onclick="openAddDialog()" type="button" class="btn btn-primary glyphicon glyphicon-plus">新增</button>
                <button onclick="deleteAll()" type="button" class="btn btn-danger glyphicon glyphicon-trash">批量删除</button>
            </div>
        </form>
    </div>
    <!-- 表格在页面中的位置 -->
    <table class="table" id="bookTable"></table>
</body>
<script type="text/javascript">
    $(function() {
        initBookTable();
    })
    //初始化用户列表
    function initBookTable() {
        //列表展示
        $('#bookTable').bootstrapTable({
            url:'../user/queryBook',//获取数据地址
            columns:[
                {field:'123',checkbox:true},
                {field:'id',title:'编号'},
                {field:'bookName',title:'图书名称'},
                {field:'bookPrice',title:'图书价格'},
                {field:'bookDate',title:'出版时间'},
                {field:'456',title:'操作',formatter:function(value,row,index){
                        var html="<a href='javascript:editUser("+row.id+")'>修改</a>|";
                        html+="<a href='javascript:deleteBook("+row.id+")'>删除</a>";
                        return html;
                    }}
            ]
        });
    }

    //条查
    function searchBook() {
        $("#bookTable").bootstrapTable("refresh");
    }

    //打开新增弹框
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //打开新增弹框
    function openAddDialog() {
        bootbox.dialog({
            title:'添加用户',
            message: createAddContent("../user/toAddBookPage"),
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                    var ss=$("#name").val();
                    alert(ss);
                        $.ajax({
                            url:'../user/addBook',
                            type:'post',
                            data:$("#bookForm").serialize(),
                            success:function(){
                                //$('#myTable').bootstrapTable('refresh');
                                //刷新表格
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }
        });
    }

    //单删
    function deleteBook(bookId) {
        alert(bookId);
        bootbox.confirm({
            size:'small',
            title:'提示',
            message:'您确定要删除吗？',
            callback:function(result){
                if(result){
                    $.ajax({
                        url:'../user/delBook',
                        type:'post',
                        data:{id:bookId},
                        dataType:'json',
                        success:function(data){
                            if(data){
                                searchBook();
                            }else{
                                bootbox.alert({
                                    size:'small',
                                    title:'提示',
                                    message:'删除失败！',
                                    callback:function(){
                                    }
                                });
                            }
                        }
                    })
                }
            }
        })
    }

    //修改回显
    function editUser(bookId) {
        //打开修改页面
        bootbox.dialog({
            title: '修改用户',
            message: createAddContent("./toUpdateBookPage"),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: './addBook',
                            type: 'post',
                            data: $("#bookForm").serialize(),
                            success: function () {
                                //$('#myTable').bootstrapTable('refresh');
                                //刷新表格
                                searchBook();
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        });

        //回显数据
        $.ajax({
            url: "./queryBookById",
            type: "post",
            data: {bookId: bookId},
            success: function (data) {
                //initCitySelect(data.province)
                $("#bookId").val(data.bookId);
                $("#bookName").val(data.bookName);
                $("#bookPrice").val(data.bookPrice)
            }
        })
    }
</script>
</html>